.navbar {
    background: #484545;
    height: 12vh;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    margin-right: auto;
}
.logo {

    height: 9vh;
    width: 6vw;
}
.desktopMenu{
    text-align: center;
    align-items: center;
    height: 10vh;
    width: 50vw;
    margin-top: 6vh;

}
.desktopMenuListItem {
    margin: 1vw;
    cursor: pointer;
}
.desktopMenuListItem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;

}
.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.desktopMenuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    border: none;
    padding: 0 1rem;
    border-radius: 2rem;
    height: 6vh;
    
}
.desktopMenuImg {
    object-fit: cover;
    height: 4vh;
    width: 2.5vw;

}
.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
#mobMenu {
    height: 4vh;
    width: 2vw;
    
}
.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15vw;
    background: rgb(40, 40, 40);
    border-radius: 1rem;

}
.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}

@media screen and(max-width : 575px){
    .desktopMenuListItem {
        margin: 0.5vw;
        cursor: pointer;
        
    }

    
}
@media screen and(max-width : 453px){
    .desktopMenuListItem{
        font-weight: 0.5vw;
    }
    

    
}


  
 
