.footer {
    text-align: center;
    width: 100vw;
    height: 4rem;
    margin: 0 auto;
    background: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    color: azure;
    

}
.footer {
    color: blanchedalmond;
}
@media screen and (max-width: 412px){
    .footer {
        padding-left: 1rem;
        width: 150vw;
    }
}

